[Unit]
Description={{ minecraft_server_name }}
After=network.target

[Service]
User={{ minecraft_user }}
Group={{ minecraft_group }}

WorkingDirectory={{ minecraft_home }}

StandardOutput=journal
StandardError=journal

ExecStart=/usr/bin/screen -DmS mc-{{ minecraft_service_name }} /usr/bin/java -Xmx{{minecraft_max_memory }} -Xms{{ minecraft_initial_memory }} -jar {{ minecraft_jar }} nogui

ExecStop=/bin/sleep 5
ExecStop=/usr/bin/screen -p 0 -S mc-{{ minecraft_server_name }} -X eval 'stuff "save-all"\015'
ExecStop=/usr/bin/screen -p 0 -S mc-{{ minecraft_server_name }} -X eval 'stuff "stop"\015'

Restart=on-failure

# Gotta think about these onces
# SuccessExitStatus=143
# ProtectHome=true
# ProtectSystem=full
# PrivateTmp=true
# PrivateDevices=true

[Install]
WantedBy=multi-user.target